# todo.txt
alias t="todo.sh"

# navigation
alias ..="cd .."

# colorize `ls`
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OSX `ls`
  colorflag="-G"
fi
alias ls ="command ls ${colorflag}"

