alias vi="vim"

# navigation
alias ..="cd .."
alias ...="../.."
alias l="ls -loh"
alias ll="ls -lohA"
alias mkdir="mkdir -p"
alias gr="grep"

# colorize `ls`
if ls --color > /dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # OSX `ls`
  colorflag="-G"
fi
#alias ls ="command ls ${colorflag}"

alias g="git"
__git_complete g _git
alias pr="hub pull-request"

alias r="bundle exec rails"
alias rk="bundle exec rake"
alias tenv="RAILS_ENV=test"

alias b="bundle"
alias bx="bundle exec"

alias ports="netstat -atp tcp | grep -i listen"

alias ms="mux s"
alias mo="mux o"

alias cat="bat"
alias gitgc='git branch --merged| egrep -v "(^\*|master|release/*)" | xargs git branch -d'
